* {
  font-family: sans-serif;
  font-weight: bold;

  box-sizing: border-box;
}


html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}


body {
  color: white;
  background: black;
}


canvas {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}


#game{
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
}

#loading{
  position: absolute;
  top:50%;
  left: 50%;
}

/* DIALOG */
.dialog{
  display: flex;
  
}
.dialog canvas {
    width:48px;
  height: 48px;
}
/* BUTTONS */

.button.connection {
  display: flex;
  align-items: center;
  height:64px;
  padding: 8px;
}

.button.connection div{
  font-size: 24px;
  width: 100%;
}

.button.connection canvas{
  width: 80px;
  height: 48px;
}

.button {
  height:32px;
  background: none;
  color: white;
  margin:  8px;
  border: 1px solid white;
}

.button.selected, .button:hover {
  background: none;
  border: 3px solid white;

}
.button:disabled {
}

.button:disabled, .button:disabled:hover, .button.selected:disabled {
  color: gray;
  text-decoration-line: 3px;

  text-decoration: line-through ;
}


#options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}

/********** POPUP **********/

.popup{
  background: rgba(0,0,0,0.3);
  padding: 8px;
  width: 400px;
  position: absolute;
  left: calc(50% - 200px);
  bottom: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

/********** MAP ************/

#map{
  height: 100%;
}

#map_canvas {
    transform-origin: 0 0;
  transform: scale(3);

}







/************* DEV ************/


#devbox, #inventorybox {
  position: absolute;
  top:0;
  left:0;
  border:1px solid white;
  background: black;
  padding: 2px;
}

input {
  border: 2px solid white;
  margin: 2px;
  height: 28px;
}

select {
  width: 14px;
  height: 14px;
  border: 7px solid black;
  border-top: 7px solid white;
  margin:0;
  padding: 0;
}
